<mat-card *ngIf="item" style="margin-top:20px;" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="col"
    fxLayoutGap="20px">
    <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%">
        <img style="height:auto; width: 100%;" src="{{ item.imageUrl }}" />
    </div>
    <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxLayout="column" fxLayoutGap="16px">
        <mat-card-header fxFlex="10%">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.price | valutaConvert:valutaAleasa}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content fxFlex="80%">
            <p>
                {{item.description}}
            </p>
        </mat-card-content>
        <mat-card-actions fxFlex="10%" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Cantitate</mat-label>
                <button mat-icon-button matPrefix color="primary" (click)="removeQty()">
                    <mat-icon aria-hidden="false" aria-label="Less">remove</mat-icon>
                </button>
                <input matInput [(ngModel)]="qty" name="qty" type="number" value="{{qty}}" min="1" max="100"
                    (change)="updateQty()" style="text-align: center;">
                <button mat-icon-button matSuffix color="primary" (click)="addQty()">
                    <mat-icon aria-hidden="false" aria-label="More">add</mat-icon>
                </button>
            </mat-form-field>
            <button mat-button color="primary" (click)="addToCart()"> Adauga in cos </button>
        </mat-card-actions>
    </div>
</mat-card>