<h2 *ngIf="cart.length == 0">Cosul este gol. Mergi la <a color="primary" routerLink="/home">meniu</a></h2>
<mat-card style="margin-top:10px;max-width: 100%;" *ngFor="let position of cart" fxLayout="row" fxLayoutGap="12px"
    fxLayoutAlign="start center">
    <div fxFlex="70%">
        <img mat-card-avatar src="{{ position.item.imageUrl }}" />
        <h1 style="margin-left:20px; display: inline-flex">{{position.item.name}}</h1>
        <mat-card-subtitle>{{ position.item.price | valutaConvert:valutaAleasa}}</mat-card-subtitle>
        <p>
            {{position.item.description}}
        </p>
    </div>
    <div fxFlex="25%">
        <mat-form-field>
            <mat-label>Cantitate</mat-label>
            <button mat-icon-button matPrefix color="primary" (click)="removeQty(position)">
                <mat-icon aria-hidden="false" aria-label="Less">remove</mat-icon>
            </button>
            <input matInput [(ngModel)]="qty[this.cart.indexOf(position)]" (change)="updateQty(position)" name="qty"
                type="number" value="{{position.qty}}" min="1" max="100" />
            <button mat-icon-button matSuffix color="primary" (click)="addQty(position)">
                <mat-icon aria-hidden="false" aria-label="More">add</mat-icon>
            </button>
        </mat-form-field>
        <mat-card-subtitle>Subtotal:
            {{(position.item.price * position.qty) | valutaConvert:valutaAleasa}}</mat-card-subtitle>
    </div>
    <div fxFlex="5%">
        <button mat-mini-fab color="warn" (click)="deleteItem(position)">
            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
        </button>
    </div>
</mat-card>
<div *ngIf="this.cart.length > 0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <h2 fxFlex="75%">Total: {{this.total | valutaConvert:valutaAleasa}}</h2>
    <button mat-button fxFlex="25%" color="warn" (click)="this.clearCart()">Goleste cosul</button>
</div>