<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <button mat-button routerLink="home">Acasa</button>
  <button mat-button routerLink="about">Despre</button>
  <button mat-button routerLink="reservation">Rezervare</button>
  <button id="cart" mat-icon-button routerLink="cart" matBadge="{{cartService.getLength()}}" matBadgeSize="small"
    matBadgePosition="after" matBadgeColor="warn">
    <mat-icon aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon>
  </button>
  <mat-form-field class="valutaFormField">
    <mat-select [(ngModel)]="valutaAleasa" (selectionChange)="setValuta(valutaAleasa)">
      <mat-option *ngFor="let valuta of valute" [value]="valuta">
        {{valuta.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<router-outlet></router-outlet>