<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <h1 fxFlex="100%">Rezerva o masa chiar acum!</h1>
    <mat-card fxLayout="column" fxFlex="60%">
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit($event)">
            <p mat-card-subtitle>Date
                <mat-divider></mat-divider>
            </p>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-form-field color="primary" appearance="fill" fxFlex="50%">
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="rdatepicker" formControlName="rdate" required>
                    <mat-datepicker-toggle matSuffix [for]="rdatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #rdatepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field color="primary" appearance="fill" fxFlex="50%">
                    <mat-label>Ora</mat-label>
                    <input matInput matTimepicker name="matTimepicker" #t="matTimepicker" formControlName="rtime"
                        required>
                    <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-form-field color="primary" appearance="fill" fxFlex="75%">
                    <mat-label>Numele dvs.</mat-label>
                    <input matInput formControlName="rname" required>
                </mat-form-field>
                <mat-form-field color="primary" appearance="fill" fxFlex="25%">
                    <mat-label>Nr. de persoane</mat-label>
                    <mat-select required formControlName="rpersons">
                        <mat-option value="2">1-2</mat-option>
                        <mat-option value="4">3-4</mat-option>
                        <mat-option value="8">5-8</mat-option>
                        <mat-option value="12">9-12</mat-option>
                        <mat-option value="20">13-20</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <p mat-card-subtitle>Precomanda
                <mat-divider></mat-divider>
            </p>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                <h3>Include continutul cosului ca precomanda</h3>
                <mat-slide-toggle color="primary" fxFlexAlign="start" formControlName="includeCart">
                </mat-slide-toggle>
            </div>
            <div *ngIf="reservationForm.value['includeCart']">
                <p *ngIf="!cartService.items.length" style="text-align:center;">Cosul este gol.</p>
                <mat-list *ngIf="cartService.items.length > 0">
                    <mat-list-item *ngFor="let item of cartService.items">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" fxFill>
                            <div fxFlex="70">{{item.item.name}}</div>
                            <div fxFlex="15">{{item.qty}}</div>
                            <div fxFlex="15">
                                <button mat-mini-fab color="warn" (click)="deleteItem(item)">
                                    <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button type="submit" mat-raised-button color="primary">Rezerva</button>
            </div>
        </form>
    </mat-card>
</div>