<div style="padding: 13px;" class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let item of items">
        <mat-card style="margin-top:10px;max-width: 100%;">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.price | valutaConvert:valutaAleasa}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{item.description}}
                </p>
                <img style="height:100%; width: 100%;" src="{{ item.imageUrl }}" />
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
                <button mat-button color="primary" (click)="addToCart(item,1)"> Adauga in cos </button>
                <button mat-button color="primary" routerLink="/items/{{item.id}}"> Detalii </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div>
    <button (click)="firstPage()" mat-button> First</button>
    <button (click)="previousPage()" mat-button> Previous</button>
    <button (click)="nextPage()" mat-button> Next</button>
    <button (click)="lastPage()" mat-button> Last</button>
</div>